---
// image library import
import { Image } from "astro:assets";

// utils import
import { slugify, formatDate } from "../js/utils";

// component import
import Link from "./Link.astro";

const { frontmatter, url, tagType } = Astro.props;

const Tag = tagType;

const { title, description, publicationDate, imageSrc, author, category } =
  frontmatter;
---

<article class="card">
  <small>
    <a href={`/category/${slugify(category)}/`} class="badge">{category}</a>
  </small>
  <a href={url} aria-hidden="true" tabindex="-1">
    <Image
      src={imageSrc}
      alt=""
      width="400"
      height="250"
      format="webp"
      quality={80}
    />
  </a>
  <div class="content">
    <div>
      <Tag class="h3">
        <a href={url}>{title}</a>
      </Tag>
      <small>
        by <a href={`/author/${slugify(author)}/`}>{author}</a> &bull; {
          formatDate(publicationDate)
        }
      </small>
    </div>
    <p>{description}</p>
    <Link href={url} text="Visit artwork" style="secondary" />
  </div>
</article>
