---
// components import
import PostHeader from "@components/PostHeader.astro";

// layout import
import MainLayout from "@layouts/MainLayout.astro";

const { frontmatter } = Astro.props;

const { title, description, publicationDate, category, author, imageSrc } =
  frontmatter;
---

<MainLayout title={title} description={description}>
  <PostHeader
    {title}
    {description}
    {publicationDate}
    {category}
    {author}
    {imageSrc}
  />

  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar"></div>
  </div>
</MainLayout>
